<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Book DriveTest</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
            rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
            rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
            rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="css/styles.css"  />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
              <a class="navbar-brand fw-bold" href="/">Book DriveTest</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                  <li class="nav-item">
                    <a class="nav-link me-lg-3" href="/">Dashboard</a>
                  </li>
                  <% if(loggedIn && userType == "Driver") { %>
                  <li class="nav-item">
                    <a class="nav-link me-lg-3" href="/g2">G2_Test</a>
                  </li>
                  <% } %>
                  <% if(loggedIn && userType == "Driver") { %>
                  <li class="nav-item">
                    <a class="nav-link me-lg-3" href="/g">G_Test</a>
                  </li>
                  <% } %> 
                  <% if(loggedIn && userType == "Admin") { %>
                  <li class="nav-item">
                    <a class="nav-link me-lg-3" href="/appointments">Appointment</a>
                  </li>
                  <% } %> 
        
                </ul>
                <% if(!loggedIn) { %>
                <a href="/login" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;">
                  <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Login</span>
                  </span>
                </a>
                <% } %> 
                <% if(loggedIn) { %>
                <a href="/logout" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-left: 10px;">
                  <span class="d-flex align-items-center">
                    <i class="bi-box-arrow-right me-2"></i>
                    <span class="small">Logout</span>
                  </span>
                </a>
                <% } %> 
                
              </div>
            </div>
          </nav>
          
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div>
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Dashboard</h1>
                            <p class="text-muted mb-1">DriveTest Book Kiosk</p>
                            <div class="d-flex flex-column flex-lg-row align-items-center">
                                <a class="me-lg-3 mb-4 mb-lg-0"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                                <a><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4">You can book G2/G drive test from this kiosk
                            <p class="mb-1">Posted by Drivetest Center</p>

                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- App features section-->
        <section id="features">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <h3 class="font-alt">Cars</h3>
                                        <p class="text-muted mb-0">Driver examination and licensing requirements for cars, vans, and small trucks…</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <h3 class="font-alt">Motorcycles</h3>
                                        <p class="text-muted mb-0">Driver examination and licensing requirements for motorcycles, scooters, and mopeds…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <h3 class="font-alt">Commercial</h3>
                                        <p class="text-muted mb-0">Driver examination and licensing requirements for classes A, B, C, D, E, F, or Z (trucks and buses)…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </section>
        <!-- Call to action section-->
        <section class="cta">
            <div class="cta-content">
                <div class="container px-5">
                    <h2 class="text-white display-1 lh-1 mb-4">
                        Stop waiting.
                        <br />
                        Start Booking Now.
                    </h2>
                </div>
            </div>
        </section>
        <!-- App badge section-->
        <section class="bg-gradient-primary-to-secondary" id="download">
            <div class="container px-5">
                <h2 class="text-center text-white font-alt mb-4">Get the app now!</h2>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                    <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; Book DriveTest 2023. All Rights Reserved.</div>
                </div>
            </div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
